<template>
  <form
    id="contact"
    name="contact"
    method="post"
    data-netlify="true"
    netlify-honeypot="bot-field"
    @submit.prevent="sendmail"
  >
    <!-- Name -->
    <div class="field hidden">
      <label>Dont fill in: </label>
      <input name="bot-field" />
    </div>
    <div v-if="errors.length" class="form-errors">
      <b>Please correct the following error(s):</b>
      <ul>
        <li v-for="error in errors" :key="error">
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="field">
      <label class="label is-medium">Name</label>
      <div class="control has-icons-left">
        <input
          v-model="name"
          name="name"
          class="input is-medium"
          type="text"
          placeholder="Your name"
        />
        <span class="icon is-small is-left">
          <font-awesome-icon icon="user" />
        </span>
      </div>
    </div>
    <!-- Email -->
    <div class="field">
      <label class="label is-medium">Email</label>
      <div class="control has-icons-left">
        <input
          v-model="email"
          name="email"
          class="input is-medium"
          type="email"
          placeholder="your@email.com"
        />
        <span class="icon is-small is-left">
          <font-awesome-icon icon="envelope" />
        </span>
      </div>
    </div>
    <!-- Subject -->
    <div class="field">
      <label class="label is-medium">Subject</label>
      <div class="control has-icons-left">
        <input
          v-model="subject"
          name="subject"
          class="input is-medium"
          type="text"
          placeholder="Brief Summary"
        />
        <span class="icon is-small is-left">
          <font-awesome-icon icon="briefcase" />
        </span>
      </div>
    </div>
    <!-- Message -->
    <div class="field">
      <label class="label is-medium">Message</label>
      <div class="control">
        <textarea
          v-model="body"
          class="textarea"
          name="body"
          placeholder="Detailed description of your comment, request, etc"
          rows="8"
        ></textarea>
      </div>
    </div>
    <div data-netlify-recaptcha="true"></div>
    <div class="control">
      <button class="button is-primary">
        Contact Us
      </button>
    </div>
  </form>
</template>
<style scoped lang="scss">
.form-errors {
  li,
  b {
    color: $error;
  }
}
</style>
<script>
import emailjs from 'emailjs-com'

export default {
  name: 'Contact',
  data() {
    return {
      errors: [],
      name: undefined,
      subject: undefined,
      email: undefined,
      body: undefined
    }
  },
  methods: {
    sendmail() {
      if (this.name && this.subject && this.email && this.body) {
        this.errors = []
        emailjs
          .sendForm(
            'service_sen1gxe',
            'template_dfyojgw',
            {
              name: this.name,
              subject: this.subject,
              email: this.email,
              body: this.body
            },
            'kr.adarsh002@gmail.com'
          )
          .then(
            (result) => {
              this.name = undefined
              this.subject = undefined
              this.email = undefined
              this.body = undefined
              return true
            },
            (error) => {
              this.errors = [
                'We couldnt submit your request at this time, please try again after some time'
              ]
              console.log(error)
              return true
            }
          )
      }
      this.errors = []

      if (!this.name) {
        this.errors.push('Name required.')
      }
      if (!this.subject) {
        this.errors.push('Subject required.')
      }
      if (!this.email) {
        this.errors.push('Email required.')
      }
      if (!this.body) {
        this.errors.push('Message required.')
      }
    }
  }
}
</script>
