<template>
  <div id="contact-page" class="page-wrapper contact-page content-page">
    <site-hero
      title="Contact Us"
      subtitle="Example Contact Page"
      image="/uploads/contact-hero.jpg"
    ></site-hero>
    <main-section theme="sidebar-right">
      <template v-slot:default>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">
                Hello!
              </p>
              <br />
              <div class="content">
                <p>
                  <strong>
                    We would love to meet you in person, kindly fill up the form
                    below so that we can get in touch with you ASAP.
                  </strong>
                </p>
                <p class="contact-number">
                  <span class="icon is-small is-left">
                    <font-awesome-icon icon="phone" flip="horizontal" />
                  </span>
                  <span> 8123272735 </span>
                </p>
              </div>
            </article>
          </div>
          <div class="tile is-parent is-8">
            <article class="tile is-child box">
              <contact-form />
            </article>
          </div>
        </div>
      </template>
      <template v-slot:sidebar>
        <h3 class="subtitle is-4">
          Latest Posts
        </h3>
        <!-- Latest Posts -->
        <posts-grid :per-row="1" :number="2" />
      </template>
    </main-section>
  </div>
</template>
<style lang="scss" scoped>
.contact-number {
  display: flex;
  align-items: center;
  span {
    padding: 5px;
  }
}
</style>
<script>
import ContactForm from '~/components/ContactForm'
export default {
  head() {
    return {
      title: `Contact | ${this.$siteConfig.siteName}`
    }
  },
  components: { ContactForm }
}
</script>
